# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# JSON files
*.json text

# Force batch scripts to use CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to use LF
*.sh text eol=lf